//Get bootstraps helper scss classes
@import "../scss/bootstrap.scss";

//font import
//TODO: Fix which font it uses

//Varibales

$brandColor: #25d55f;
$darkBrandColor: #739a77;
$offWhiteBrandColor: #f3fcf4;
$mainWhiteBrandColor: #f8fff8;

$greyBody: #a0afa1;
$darkBody: #3d4a3e;

$borderColorBody: rgba(0, 0, 0, 0.1);
$borderWidth: 1px;
$borderRadius: 30px;

//Root or *

//reset and helpers
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
  //color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 550;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
}

a:hover {
  color: $brandColor;
}

.navbar {
  position: absolute;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 9999;

  a,
  input,
  button {
    font-weight: 550;
  }

  a {
    color: white;
  }
  a:hover {
    color: $brandColor;
  }

  .navbar span {
    //font-weight: 10;
    //right: -200px;
  }
  .logo-container {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .navbar-brand img {
    position: absolute;
    width: 50px;
    object-fit: cover;
  }
  //navbar

  .navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
  }

  .navbar-nav .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
  }

  .navbar-toggler {
    background-color: #f3fcf423; //offwhite
    color: hsla(127, 60%, 97%, 0.6); //offwhite
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 252, 244, 0.600)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $mainWhiteBrandColor;
    opacity: 0.85;
    font-weight: 525;
  }
  //TODO: MAKE THE COLLAPSING BAR WHITE TODO: CHANGE THE HEADER POSITION TO RELATIVE OR GIVE NAV A BACKROUND WHEN EXPANDED
  .social-links a {
    width: 36px;
    height: 36px;
    background-color: white;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 18px;
    margin-left: 3px;
  }
}
@media (max-width: 992px) {
  .navbar .container {
    //Change color of collapsed navbar
    background-color: #f3fcf418; //darkBody
    border-radius: 10px;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.356);
  color: white;
  display: flex;
  flex-direction: column;

  overflow: hidden;

  img {
    //background-color: blue;
    display: block;
    margin: auto;
    //position: absolute;
    object-fit: cover;
    //top: 150px;
    width: 60vw;
    max-width: 800px;
  }

  .head-logo {
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;

    //position: relative;
    display: grid;
    //place-items: center;
    //top: 40%;
    //left: 25%;
    //display: flex;
    //justify-content: center;
    //align-items: center;

    //overflow: hidden;
    //background-color: red;
    width: 90vw;
    //height: 150px;

    //top: 500px;
  }
}

.home-page-text {
  font-family: "Raleway", sans-serif;
  color: white;
  text-shadow: 2px 1px #1f1f1f;
  //font-weight: bolder;
}

.homepage-btn-1 {
  //background: #2a9e47;
  color: white;
  margin-left: 4px;
  font-size: x-large;
  font-weight: 575;
  border-radius: 0.4rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.homepage-btn-1:hover {
  background: #00000067;
  color: $brandColor;
  border-color: $brandColor;
}

/* Small screens */
@media (max-width: 576px) {
  /* HOME section */
  .home-page-content {
    //padding-top: 20px;

    h5 {
      font-size: 15px;
    }
  }
  .home-buttons .homepage-btn-1,
  .homepage-btn-2 {
    font-size: 1rem;
  }
  /* Home section */

  /* Store section */
  .store-row-2 .col-sm-3,
  .store-row-3 .col-sm-3 {
    padding-bottom: 10px;
  }
  /* /Store section */

  /* TEAM section */
  .team-row .card-deck .card {
    width: 400px;
    height: inherit;
  }
  .team-row .card-deck .card .img-box {
    width: 380px;
    height: 380px;
  }
  .team-row .card-deck .card img {
    width: 360px;
    height: auto;
  }
}
/* /TEAM Section */

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
